/Greek_Parliament_Proceedings_1989_2020.csv
venv
__pycache__
cleaned.csv
speeches.db
inverse_index_catalogue_for_part3.pickle
twMatrix_sparce.pickle
U_s_V.pickle
inverse_index.pkl
varoufakis.csv
speeches.db
Greek_Parliament_Proceedings_1989_2020.csv
speeches_.db
cacheAndSaved/inverse_index_catalogue_for_part3.pickle
cacheAndSaved/twMatrix_sparce.pickle
cacheAndSaved/U_s_V.pickle
cacheAndSaved/inverse_index.pkl